<main class="container mx-auto px-4 py-8">
  <h1 class="mb-8 text-4xl font-bold">Roadmap</h1>

  <div class="mx-auto space-y-12">
    <ul class="m-0 mt-10 animate-pulse list-none space-y-10 p-0" role="status" aria-busy="true">
      <li class="vote-item">
        <div class="relative">
          <span>
            <div class="flex space-x-4">
              <div
                class="bg-blackberry-200 relative flex h-16 w-16 flex-shrink-0 flex-col items-center justify-center text-center"
              >
                <p class="m-0 leading-none">
                  <strong class="text-lg leading-none"> 0 </strong>
                  <br />
                  <span class="text-sm">votes</span>
                </p>
              </div>
              <div>
                <h3 class="m-0 text-2xl leading-tight font-extrabold">
                  <div class="mb-8 h-6 w-72 rounded-full bg-gray-200"></div>
                </h3>
                <div class="mt-1 text-[15px]">
                  <div class="mb-2.5 h-3 max-w-[360px] rounded-full bg-gray-200"></div>
                  <div class="mb-2.5 h-3 rounded-full bg-gray-200"></div>
                  <div class="mb-2.5 h-3 max-w-[330px] rounded-full bg-gray-200"></div>
                  <div class="mb-2.5 h-3 max-w-[300px] rounded-full bg-gray-200"></div>
                  <div class="h-3 max-w-[360px] rounded-full bg-gray-200"></div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </li>
    </ul>
    <span class="sr-only">Loading...</span>
  </div>
</main>
