---
import Layout from '@v1/layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import GlobalSection from '@components/GlobalSection.astro';
import Article from '@components/handbook/Article.astro';

const title = 'Handbook';
const description = 'The Datum Handbook';
---

<Layout title={title} description={description} bodyClass="about-page">
  <section class="datum-container">
    <Hero class="light" iconName="book-text" title="The Datum Handbook" subtitle="Handbook" />
    <Article articleId="company/why-we-exist" />
    <GlobalSection />
    <Footer />
  </section>
</Layout>
