---
import Layout from '@v1/layouts/Layout.astro';
import Hero from '@v1/components/Hero.astro';
import Footer from '@v1/components/Footer.astro';
import OurPurpose from '@v1/components/about/OurPurpose.astro';
import Team from '@v1/components/about/Team.astro';
import WeValue from '@v1/components/about/WeValue.astro';

const title = 'About';
const description = 'New v1 template for Datum website';
---

<Layout title={title} description={description} bodyClass="about-page">
  <section class="datum-container">
    <Hero class="light" />
    <OurPurpose />
    <Team />
    <WeValue />
    <Footer />
  </section>
</Layout>
