---
import Layout from '@v1/layouts/Layout.astro';
import Hero from '@v1/components/Hero.astro';
import Footer from '@v1/components/Footer.astro';
import OpenNetwork from '@v1/components/home/OpenNetwork.astro';
import BlogIndex from '@v1/components/blog/Blog.astro';
import { getCollectionEntry } from '@utils/collectionUtils';

// Get blog landing page from blog/index.mdx
const page = await getCollectionEntry('pages', '/blog');

const subtitle = 'Blog';
const title = 'The Datum Blog';
const icon = 'book-image';
---

<Layout
  title={page.data.title || 'Datum'}
  description={page.data.description}
  bodyClass="blog-page"
>
  <section class="datum-container">
    <Hero class="light" iconName={icon} title={title} subtitle={subtitle} />

    <div class="section--block section--block--pad bg-navy dark">
      <BlogIndex />
    </div>

    <OpenNetwork />

    <Footer />
  </section>
</Layout>
