---
import Layout from '@v1/layouts/Layout.astro';
import Hero from '@v1/components/Hero.astro';
import Footer from '@v1/components/Footer.astro';
import OpenNetwork from '@v1/components/home/OpenNetwork.astro';
import Article from '@v1/components/blog/Article.astro';

const title = 'Blog';
const description = 'Blog Detail';
---

<Layout title={title} description={description} bodyClass="blog-post">
  <section class="datum-container">
    <Hero
      class="light"
      iconName="book-text"
      title="The Datum Handbook"
      subtitle="Handbook"
      hideContent={true}
    />
    <Article />
    <OpenNetwork />
    <Footer />
  </section>
</Layout>
