---
import Layout from '@v1/layouts/Layout.astro';
import HeroSection from '@v1/components/home/HeroSection.astro';
import EvolveSection from '@v1/components/home/EvolveSection.astro';
import GoodLookSection from '@v1/components/home/GoodLookSection.astro';
import OpenNetwork from '@v1/components/home/OpenNetwork.astro';
import Footer from '@v1/components/Footer.astro';

const title = 'Datum - v1 Template';
const description = 'New v1 template for Datum website';
---

<Layout title={title} description={description} bodyClass="home-page">
  <section class="datum-container">
    <HeroSection />
    <EvolveSection />
    <GoodLookSection />
    <OpenNetwork />
    <Footer />
  </section>
</Layout>
