<div class="changelog-item--content">
  <div class="changelog-item--date">
    <span class="mb-2.5 h-5 animate-pulse rounded-full bg-gray-700"></span>
  </div>

  <div class="changelog-item--main">
    <h3 class="changelog-item--title">
      <span class="mb-2.5 h-7 max-w-[200px] animate-pulse rounded-full bg-gray-700"></span>
    </h3>
    <div class="changelog-item--description">
      <div class="mb-2.5 h-5 max-w-[360px] animate-pulse rounded-full bg-gray-700"></div>
      <div class="mb-2.5 h-5 animate-pulse rounded-full bg-gray-700"></div>
      <div class="mb-2.5 h-5 animate-pulse rounded-full bg-gray-700"></div>
      <div class="mb-2.5 h-5 animate-pulse rounded-full bg-gray-700"></div>
    </div>

    <div class="changelog-item--tags">
      <div class="changelog-item--tag-group">
        <div class="changelog-item--tag-description">
          <span class="mb-2.5 h-5 max-w-[150px] animate-pulse rounded-full bg-gray-700"></span>
        </div>
      </div>
    </div>
  </div>
</div>
