@layer components {
  .essentials-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
    @apply border-silver-mist border;
    @apply bg-silver-mist gap-px;
  }

  .essentials-item {
    @apply bg-platinum;
    @apply flex flex-col items-start gap-7;
    @apply p-8 lg:p-11;
  }

  .essentials-item-icon {
    @apply rounded-sm;
    @apply flex items-center justify-center;
    @apply size-10;
    background-image: linear-gradient(var(--color-iris-pale), var(--color-iris-pale));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    transition: background-size 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    &.highlight-animate {
      background-size: 100% 100%;
    }

    svg {
      @apply text-iris size-5;
    }

    img {
      @apply size-5;
    }
  }

  .essentials-item-content {
    @apply flex w-full flex-col gap-2;
  }

  .essentials-item-title {
    @apply text-midnight-fjord datum-text-xl font-semibold;
  }

  .essentials-item-description {
    @apply datum-text-base text-midnight-fjord/80;
  }
}
