---
// src/components/hello/HelloBehindCard.astro
---

<article class="hello-card hello-card--behind" data-card-category="all" x-show="filter === 'all'">
  <p class="hello-card--behind-title">The rest of us prefer to support behind the scenes.</p>
  <p class="hello-card--behind-body">
    See you over on
    <a
      href="https://link.datum.net/discord"
      target="_blank"
      rel="noopener noreferrer"
      class="hello-card--behind-link">Discord</a
    >
    or
    <a
      href="https://github.com/orgs/datum-cloud/discussions"
      target="_blank"
      rel="noopener noreferrer"
      class="hello-card--behind-link">GitHub</a
    >!
  </p>
</article>
