@font-face {
  font-family: RegolaNeue;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/FTRegolaNeue-Regular.woff2') format('woff2');
}

@font-face {
  font-family: RegolaNeue;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/FTRegolaNeue-Medium.woff2') format('woff2');
}

@font-face {
  font-family: RegolaNeue;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/FTRegolaNeue-Semibold.woff2') format('woff2');
}

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-primary;
    @apply antialiased;
  }

  /* Navigation Dropdown Styles */
  .group:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    display: none;
  }

  /* Invisible pseudo-element to bridge the hover gap */
  .group::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem; /* Corresponds to mt-2 */
    transform: translateY(100%);
  }
}

@theme {
  /* Font */
  --font-primary: RegolaNeue;

  --color-blackberry: oklch(0.302 0.0557 296.27);
  /* --color-orange: oklch(0.713 0.1513 30.51); */
  /* --color-navy: oklch(0.335 0.0331 260.91); */

  --color-winter-sky-50: rgba(247, 250, 250, 1);
  --color-winter-sky-100: rgba(239, 243, 243, 1);
  --color-winter-sky-200: rgba(225, 235, 234, 1);
  --color-winter-sky-800: rgba(65, 77, 76, 1);
  --color-winter-sky-900: rgba(42, 48, 47, 1);
  --color-sunglow-50: rgba(250, 247, 247, 1);
  --color-sunglow-100: rgba(244, 237, 236, 1);
  --color-sunglow-200: rgba(243, 231, 228, 1);
  --color-sunglow-300: rgba(248, 224, 219, 1);
  --color-sunglow-400: rgba(248, 212, 205, 1);
  --color-sunglow-500: rgba(251, 200, 191, 1);
  --color-sunglow-600: rgba(250, 188, 177, 1);
  --color-sunglow-700: rgba(244, 168, 155, 1);
  --color-sunglow-800: rgba(243, 146, 130, 1);
  --color-sunglow-900: rgba(242, 122, 103, 1);
  --color-blackberry-200: rgba(223, 220, 229, 1);
  --color-blackberry-300: rgba(213, 209, 220, 1);
  --color-blackberry-400: rgba(187, 181, 198, 1);
  --color-blackberry-500: rgba(156, 148, 176, 1);
  --color-blackberry-600: rgba(115, 104, 141, 1);
  --color-blackberry-700: rgba(99, 89, 123, 1);
  --color-blackberry-800: rgba(68, 58, 91, 1);
  --color-blackberry-900: rgba(49, 40, 71, 1);
  --color-blackberry-050: rgba(245, 245, 247, 1);
  --color-butter-800: rgba(255, 246, 215, 1);
  --color-butter-900: rgba(242, 230, 188, 1);
  --color-peat-50: rgba(249, 250, 251, 1);
  --color-utility-green-50: rgba(243, 250, 247, 1);
  --color-utility-green-100: rgba(222, 247, 236, 1);
  --color-utility-green-200: rgba(188, 240, 218, 1);
  --color-utility-green-300: rgba(132, 225, 188, 1);
  --color-utility-green-400: rgba(49, 196, 141, 1);
  --color-utility-green-500: rgba(14, 159, 110, 1);
  --color-utility-green-600: rgba(5, 122, 85, 1);
  --color-utility-green-700: rgba(4, 108, 78, 1);
  --color-utility-green-800: rgba(3, 84, 63, 1);
  --color-utility-green-900: rgba(1, 71, 55, 1);
  --color-peat-100: rgba(244, 244, 244, 1);
  --color-peat-200: rgba(234, 233, 234, 1);
  --color-peat-300: rgba(203, 199, 203, 1);
  --color-peat-400: rgba(166, 161, 166, 1);
  --color-peat-500: rgba(144, 138, 144, 1);
  --color-peat-600: rgba(122, 115, 122, 1);
  --color-peat-700: rgba(99, 92, 99, 1);
  --color-peat-800: rgba(77, 71, 77, 1);
  --color-peat-900: rgba(56, 50, 56, 1);
  --color-utility-red-50: rgba(253, 242, 242, 1);
  --color-utility-red-100: rgba(253, 232, 232, 1);
  --color-utility-red-200: rgba(251, 213, 213, 1);
  --color-utility-red-300: rgba(248, 180, 180, 1);
  --color-utility-red-400: rgba(249, 128, 128, 1);
  --color-utility-red-500: rgba(240, 82, 82, 1);
  --color-utility-red-600: rgba(224, 36, 36, 1);
  --color-utility-red-700: rgba(200, 30, 30, 1);
  --color-utility-red-800: rgba(155, 28, 28, 1);
  --color-utility-red-900: rgba(119, 29, 29, 1);
}
