@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #312847;
  --foreground: #312847;
  --sunglow: #f27a67;
  --winter-sky-800: #eff3f3;
  --blackberry-900: #312847;
  --white: white;
  --light-green: #84e1bc;
  --winter-sky-900: #e1ebea;
  --winter-sky-700: #f7fafa;
  --cta-tier-1-border: 0px;
}

body {
  color: var(--dcddddd);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  #content h1 {
    @apply text-2xl font-bold mt-4;
  }
  #content a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
  }
  p {
    @apply my-1 indent-8
  }
}