---
import { Image } from 'astro:assets';
import databricksLogo from '@v1/assets/logos/databricks.png';
import anthropicLogo from '@v1/assets/logos/anthropic.png';
import awsLogo from '@v1/assets/logos/aws.png';
import stabillityLogo from '@v1/assets/logos/stabillity.png';
import mistralaiLogo from '@v1/assets/logos/mistralai.png';
import openaiLogo from '@v1/assets/logos/open-ai.png';
import sceneTree from '@v1/assets/images/scene-tree.png';

const logoAssets = [
  databricksLogo,
  anthropicLogo,
  awsLogo,
  stabillityLogo,
  mistralaiLogo,
  openaiLogo,
];
---

<section class="bg-cream relative overflow-hidden px-6 py-15 md:px-0 md:py-30 lg:py-47">
  <div class="absolute bottom-0 left-0 z-0">
    <Image src={sceneTree} alt="Scene tree illustration" class="size-auto w-full max-w-3xl" />
  </div>
  <div class="border-navy bg-cream relative z-10 m-auto border md:max-w-5/6 lg:max-w-4/5">
    <!-- Scene Tree Image -->

    <div
      class="relative z-10 mx-auto grid grid-cols-1 justify-between gap-9 px-6.5 py-14 text-center md:grid-cols-2 md:gap-16 md:px-18 md:pt-24 md:pb-35 md:text-left lg:gap-22 lg:px-24 lg:pt-30 lg:pb-49"
    >
      <!-- Left: Heading -->
      <div class="self-center">
        <h2 class="h2-leading mb-0">Why evolve the internet?</h2>
      </div>
      <!-- Right: Body Text -->
      <div class="self-center">
        <span class="text-desc">
          <p>
            The internet was built by a group of humans who knew and trusted each other. Today's
            reality is different, and interactions between machines, models, services, and systems
            are far more complex. Datum exists to upgrade the internet for a world accelerated by
            AI.
          </p>
        </span>
      </div>
    </div>
    <!-- Logos Row -->
    <div
      class="grid grid-cols-3 overflow-x-auto lg:grid-cols-6 [&>div:nth-child(2n)]:border-r-0 [&>div:nth-child(2n)]:border-r-1 lg:[&>div:nth-child(3)]:border-r-1! [&>div:nth-child(3n)]:border-r-0"
    >
      {
        logoAssets.map((logo, i) => (
          <div class="border-navy flex aspect-29/21 items-center justify-center border-t border-r last:border-r-0">
            <Image
              src={logo}
              alt={`Partner logo ${i + 1}`}
              class="mx-10 max-h-15 w-4/5 max-w-18 object-contain md:max-w-28 lg:max-w-40"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
