---
import type { ContentProps } from '@/src/types/common';

const { content } = Astro.props as ContentProps;
const items = content.data.items || [];
const link = content.data.link;
---

<section class="bg-glacier-mist-900 section--block section--block--pad">
  <div class="section--block-inner">
    <div class="flex flex-col gap-12 md:gap-20 lg:flex-row lg:gap-32">
      <!-- Left content: Heading and CTA -->
      <div class="flex w-[350px] flex-col">
        <h2 class="h2-section mb-8 md:mb-12 lg:mb-17">{content.data.title}</h2>
        {
          link && (
            <div>
              <a href={link.url} class="btn btn--alpha btn--xl">
                {link.label}
              </a>
            </div>
          )
        }
      </div>

      {
        items.length > 0 && (
          <div class="flex flex-1 justify-start">
            <ol class="ordered-list ordered-list--sans">
              {items.map((item) => (
                <li>{item}</li>
              ))}
            </ol>
          </div>
        )
      }
    </div>
  </div>
</section>
