@layer base {
  :root {
    --color-borderpanel: var(--color-glacier-mist-900);

    --prose-bullets: var(--shark-gray);
    --prose-counters: var(--shark-gray);
  }

  [data-theme='light'] {
    --color-borderpanel: var(--color-glacier-mist-900);

    --prose-bullets: var(--shark-gray);
    --prose-counters: var(--shark-gray);
  }

  [data-theme='dark'] {
    --color-borderpanel: color-mix(in srgb, var(--color-glacier-mist-900) 10%, transparent);

    --prose-bullets: var(--color-glacier-mist-700);
    --prose-counters: var(--color-glacier-mist-700);
  }
}

/* Target .expressive-code directly to match EC's own selector specificity */
.expressive-code {
  --ec-frm-inlBtnFg: var(--color-pine-forge);
  --ec-code-background: var(--glacier-mist-700);
  --ec-code-header-background: color-mix(in srgb, var(--color-glacier-mist-800) 40%, transparent);
}

[data-theme='dark'] .expressive-code {
  --ec-code-header-background: color-mix(in srgb, var(--color-glacier-mist-800) 3%, transparent);
}
