@layer components {
  /* Generic Button Components */
  .btn {
    @apply datum-text-base inline-flex max-h-[52px] items-center justify-center gap-3 rounded-md border font-semibold tracking-normal whitespace-nowrap text-white no-underline! transition hover:cursor-pointer;
    @apply border-white/20 hover:bg-white/10;
    @apply px-5 py-3 md:px-6 md:py-3.75;
    .btn-icon {
      @apply text-blush-quartz;
    }

    &.btn--sm {
      @apply px-5 py-2.5 md:px-5.5 md:py-3 lg:px-6 lg:py-3.5;
      @apply datum-text-sm max-h-[48px];

      svg {
        @apply h-3.25! w-3.25! md:h-3.5! md:w-3.5! lg:h-5! lg:w-5!;
      }
    }

    &.btn--xs {
      @apply p-2.5;
      @apply datum-text-xs;
    }
  }

  .btn--clean {
    @apply border-0 p-0;
  }

  .btn--fluid {
    @apply md:px-3.5 md:py-2 lg:px-5 lg:py-3;
    @apply datum-text-sm;
  }

  /* Button Color Variations */

  .btn--icon {
    @apply p-2.5 md:p-2.75 lg:p-3.5;

    svg {
      @apply h-3.5! w-3.5! md:h-4! md:w-4! lg:h-5! lg:w-5!;
    }
  }

  .theme-icon-button {
    @apply datum-text-sm max-h-[48px];
  }

  .btn--pine-forge {
    @apply bg-pine-forge hover:bg-pine-forge/80 border-none text-white;
  }

  .btn--app-dark-utility-2 {
    @apply bg-app---dark---utility-2 hover:bg-app---dark---utility-2/80 border-none text-white;
  }

  .btn--canyon-clay {
    @apply bg-canyon-clay hover:bg-canyon-clay/80 border-none text-white;
  }

  .btn--canyon-clay---links {
    @apply bg-canyon-clay---links hover:bg-canyon-clay---links/80 border-none text-white;
  }

  .btn--aurora-moss {
    @apply bg-aurora-moss text-midnight-fjord hover:bg-aurora-moss/80 border-none;
  }

  .btn--cream {
    @apply bg-glacier-mist-700 text-midnight-fjord border-midnight-fjord hover:bg-midnight-fjord/10;
  }

  .btn.btn--alpha {
    @apply text-midnight-fjord border-midnight-fjord hover:bg-canyon-clay/10 bg-none;
  }

  .btn--white {
    @apply text-midnight-fjord border-white bg-white hover:bg-white/90;
  }

  .btn--navy {
    @apply bg-midnight-fjord/90 hover:bg-midnight-fjord/80 border-midnight-fjord text-white;
  }

  .btn--navy-alpha {
    @apply bg-midnight-fjord/90 border-white/20 text-white hover:bg-white/10;
  }

  .btn--outline {
    @apply text-midnight-fjord hover:bg-canyon-clay/10 border-[var(--app---dark---utility-5)] bg-none;
  }

  .btn-icon {
    @apply flex h-5 w-5 items-center justify-center;
  }

  .btn-text {
    @apply text-base leading-relaxed tracking-tight;
  }
}
