@layer components {
  /* Video Modal Styles */
  video-modal {
    @apply contents;
  }

  video-modal dialog {
    @apply m-0 h-full max-h-full w-full border-0 p-0;
    @apply max-width mx-auto my-auto h-max min-h-80 w-[90%] max-w-246.5;
    @apply max-h-[calc(100vh-8rem)];
    @apply bg-transparent;
  }

  video-modal dialog[open] {
    @apply flex;
  }

  video-modal dialog::backdrop {
    @apply bg-glacier-mist-900/80 backdrop-blur;
  }

  .modal-frame {
    @apply shadow-modal relative flex w-full grow flex-col overflow-hidden rounded-lg bg-white p-10;
  }

  .modal-close {
    @apply absolute top-3 right-3 z-10;
    @apply cursor-pointer border p-0 outline-0;
    @apply transition-all duration-200 ease-in-out;
    @apply border-0 bg-transparent;
    @apply text-midnight-fjord opacity-20;
    @apply transition-opacity duration-200 ease-in-out;
    @apply hover:opacity-50;
  }

  .modal-close-icon {
    @apply h-[17px]! w-[17px]!;
  }

  .modal-content {
    @apply text-midnight-fjord mx-auto flex w-full flex-col bg-white;
  }

  .modal-embed-wrapper {
    @apply bg-black;
    @apply relative w-full overflow-hidden;
    @apply aspect-16/9;
  }

  .modal-embed-wrapper iframe {
    @apply absolute inset-0 h-full w-full border-0;
  }

  /* Prevent page scroll when modal is open */
  body[data-video-modal-open] {
    @apply overflow-clip;
  }
}
