@layer components {
  .roadmap-container {
    @apply max-width flex max-w-166.5 flex-col gap-13.5;
  }
  .roadmap-card {
    @apply w-full border-l border-white/10;
  }

  .roadmap-card--content {
    @apply flex gap-5.5 md:gap-10;
  }

  .roadmap-card--vote-section {
    @apply flex-shrink-0;
  }

  .roadmap-card--vote-counter {
    @apply flex w-full flex-col items-start gap-0 md:w-40 md:items-center;
  }

  .roadmap-card--vote-number {
    @apply font-frontliner text-aurora-moss text-center text-6xl leading-tight font-light tracking-wider md:text-8xl;
  }

  .roadmap-card--vote-label {
    @apply font-alliance text-center text-sm leading-tight font-medium tracking-wider text-white uppercase opacity-80;
  }

  .roadmap-card--info-section {
    @apply flex flex-1 flex-col gap-4;
  }

  .roadmap-card--text-content {
    @apply space-y-4;
  }

  .roadmap-card--title {
    @apply datum-text-2xl font-medium text-white;
  }

  .roadmap-card--description {
    @apply datum-prose opacity-80;
  }

  .roadmap-card--actions {
    @apply flex flex-row gap-4;
  }

  .roadmap-card--vote-button {
    @apply font-alliance text-blush-quartz border-blush-quartz border-b-1 text-sm leading-normal font-normal transition-all duration-200 hover:cursor-pointer hover:border-white hover:text-white active:text-white;
  }

  .roadmap-card--vote-button[data-has-voted='true'] {
    @apply border-white text-white;
  }

  .roadmap-card--github-link {
    @apply datum-text-sm text-blush-quartz border-blush-quartz border-b-1 font-normal transition-all duration-200 hover:border-white hover:text-white active:text-white;
  }
}
