/* Handbook Article Styles */
@layer components {
  /* Mobile menu toggle styles */
  body.handbook-menu-open {
    @apply overflow-hidden;
  }
  .handbook-container {
    @apply relative flex w-full flex-col items-stretch md:flex-row;
  }

  .handbook-container--no-sidebar {
    @apply justify-center;
  }

  /* Main Content */

  .handbook-content {
    @apply flex max-w-none grow flex-col;

    @apply py-9 md:py-10 lg:py-11 xl:py-12;
    @apply px-0 md:px-5 lg:px-10 xl:px-14;
  }

  .article-header {
    @apply mt-4 mb-3.5 md:mt-8 md:mb-4 lg:mt-10 lg:mb-5 xl:mt-12 xl:mb-6;
  }

  .article-title {
    @apply datum-text-4xl font-semibold;
  }

  .article-body {
    @apply datum-prose-longform flow-root;

    /* Autolink headings - Starlight style */
    --anchor-icon-size: 16px;
    --anchor-icon-gap: 0.375em;

    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply relative;

      &:hover .anchor-link {
        @apply opacity-100;
      }
    }

    .anchor-link {
      @apply text-midnight-fjord ml-(--anchor-icon-gap) inline-flex no-underline opacity-0 transition-opacity duration-200;

      &:focus {
        @apply opacity-100;
      }
    }

    .anchor-icon {
      @apply inline-flex items-center;

      svg {
        @apply h-(--anchor-icon-size) w-(--anchor-icon-size);
      }
    }

    @media (hover: hover) {
      .anchor-link {
        @apply opacity-0;
      }

      h2:hover .anchor-link,
      h3:hover .anchor-link,
      h4:hover .anchor-link,
      h5:hover .anchor-link,
      h6:hover .anchor-link,
      .anchor-link:focus {
        @apply opacity-100;
      }
    }
  }

  .article-paragraph {
    @apply font-alliance text-midnight-fjord text-xl leading-relaxed font-normal md:text-lg md:leading-relaxed lg:text-lg lg:leading-relaxed;
  }

  /* Sidebar Component Styles */

  aside button span {
    @apply font-alliance text-midnight-fjord leading-snug;
  }

  .handbook-toc {
    @apply border-glacier-mist-900 relative hidden w-full flex-col gap-y-4 border-l pt-9.75 pb-12 pl-7 md:mb-0 md:max-w-60.25 md:min-w-60.25 lg:flex;

    .article-aside {
      @apply mb-6;
    }
  }

  .handbook-toc .toc-container {
    @apply top-9!;
  }

  .handbook-sidebar {
    @apply relative w-full flex-col gap-y-4 md:max-w-64.75 md:min-w-64.75;
    @apply pt-10.75 pr-0 pb-0 md:mb-0 md:pr-7 md:pb-12;
    @apply border-glacier-mist-900 border-r-0 md:border-r;
    @apply hidden md:flex;
    @apply md:mt-0 md:flex;
  }

  /* Mobile menu styles */
  body[data-aside-menu-expanded] .handbook-sidebar {
    @apply bg-glacier-mist-700 px-0;
    @apply relative top-15 left-0 pt-5;
    @apply left-0 w-full;
    @apply overflow-y-auto;
    @apply block h-[calc(100vh-100px)];
    @apply absolute;

    nav {
      @apply mt-0 block;
    }

    .menu-container {
      @apply block pb-20;
    }
  }

  .handbook-sidebar nav {
    @apply flex h-full w-full items-start justify-start;
  }

  .handbook-sidebar .menu-container {
    @apply w-full space-y-2.5 rounded-lg transition ease-[cubic-bezier(.36,.66,.6,1)];
  }

  .handbook-sidebar .menu-category {
    @apply mb-4 w-full;
  }

  .handbook-sidebar .category-header {
    @apply flex flex-row;
  }

  .handbook-sidebar .category-button {
    @apply text-midnight-fjord flex w-full items-center;
  }

  .handbook-sidebar .chevron-icon {
    @apply mt-[-.0625rem] inline-block transition-transform duration-300 ease-[cubic-bezier(.36,.66,.6,1)];
  }

  .handbook-sidebar .category-title-container {
    @apply flex shrink grow basis-0 cursor-pointer items-center justify-start py-0.75;
  }

  .handbook-sidebar .category-title {
    @apply datum-docs-sidebar-headings font-medium text-nowrap;
  }

  .handbook-sidebar .category-title--active {
  }

  .handbook-sidebar .menu-list {
    /* @apply relative flex flex-col pr-7; */
    /* @apply leading-normal; */
    @apply mt-[6px] border-l border-(--color-borderpanel) pl-3;
  }

  .handbook-sidebar .menu-item {
    @apply p-0;
  }

  .handbook-sidebar .menu-link {
    @apply text-midnight-fjord/80 hover:text-midnight-fjord datum-docs-sidebar-links transition-colors duration-200 ease-out;
    @apply inline-block py-1;
  }

  .handbook-sidebar .menu-link--active {
    @apply text-canyon-clay---links font-bold;
  }
}
