@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--color-blush-quartz) inset !important;
    -webkit-text-fill-color: black !important;
    background-color: var(--color-blush-quartz) !important;
  }

  /* Section Block */
  .section--block {
    @apply relative z-10;
    /* @apply overflow-clip; */

    &.dark {
      @apply text-white;
    }

    &.section--block--pad {
      @apply py-10 md:py-16 lg:py-20 xl:py-28;
    }

    &.--pad-mobile {
      @apply py-10 pb-0 md:py-16 lg:py-20 xl:py-28;
    }

    &.section--block--pad-sm {
      @apply py-10 md:py-16 xl:py-24;
    }
  }

  /* Footer Components */

  .footer-illustration-container {
    @apply bg-glacier-mist-700 relative;
    @apply relative z-9;

    &:before {
      @apply bg-midnight-fjord absolute inset-0 top-auto bottom-0 left-0 z-0 h-4 w-full content-[''];
    }
  }

  .footer-main {
    @apply max-width bg-midnight-fjord relative z-10 mx-auto py-9 lg:py-14 xl:py-20;
  }

  .footer-grid {
    @apply flex flex-col gap-8 md:gap-2.5 lg:flex-row lg:gap-40;
  }

  .footer-nav-container {
    @apply flex w-full flex-wrap justify-between space-y-7;
  }
  .footer-nav-section {
    @apply w-1/2 md:w-auto;
    @apply first:-mr-8;
  }
  .footer-actions-section {
    @apply flex flex-col items-center justify-between gap-4 md:col-span-4 md:items-end lg:col-span-1 lg:flex-col;
  }

  .footer-copyright {
    @apply datum-text-xs text-center whitespace-nowrap text-white/40 md:text-right;

    .footer-nav-link {
      @apply text-white/40 transition-colors hover:text-white;
    }
  }

  .footer-signup-form {
    @apply border-midnight-fjord flex items-center border-b pb-2;
  }

  .footer-signup-input {
    @apply text-midnight-fjord placeholder-midnight-fjord datum-text-lg bg-blush-quartz flex-1 outline-none;
  }

  .footer-signup-button {
    @apply ml-4 hover:cursor-pointer;
  }

  /* List Styles */
  .ordered-list {
    @apply datum-list-headings flex list-none flex-col;
    counter-reset: ordered-counter;
  }

  .ordered-list--sans {
    @apply font-alliance lg:text-22 text-base md:text-lg;
  }

  .ordered-list li {
    @apply text-midnight-fjord flex gap-3.75 py-4 md:gap-5 md:py-4.75;
    @apply border-b-glacier-mist-900 border-b;
    @apply last:border-b-0;
    counter-increment: ordered-counter;

    .item-title {
      @apply datum-text-3xl font-canela -tracking-[0.8px];
    }

    .item-description {
      @apply datum-text-base;
    }
  }

  .ordered-list li::before {
    @apply font-frontliner text-mauve text-xsm lg:text-22 w-5.25 leading-relaxed font-light tracking-widest md:w-7.5 md:text-xl;
    @apply translate-y-1.25 md:translate-y-0 lg:translate-y-2;
    content: '0' counter(ordered-counter) '.';
  }

  .label {
    @apply datum-text-sm font-semibold;
    @apply px-2 py-1;
    @apply border-app---dark---utility-4/50 rounded-md border;
  }

  /* Generic Logo/Brand Grid Components */
  .logo-grid {
    @apply border-midnight-fjord grid overflow-x-auto border border-t-0;
  }

  .logo-grid--3-6 {
    @apply grid-cols-3 lg:grid-cols-6 lg:[&>div:nth-child(3)]:border-r! [&>div:nth-child(3n)]:border-r-0;
  }

  .logo-grid--2-3 {
    @apply grid-cols-2 md:grid-cols-3 lg:grid-cols-6;
  }

  .logo-grid--4 {
    @apply grid-cols-2 md:grid-cols-4;
  }

  .logo-item {
    @apply border-midnight-fjord flex items-center justify-center border-t border-r last:border-r-0;
  }

  .logo-item--landscape {
    @apply aspect-26/19;
  }

  .logo-item--square {
    @apply aspect-square;
  }

  .logo-item--tall {
    @apply h-48;
  }

  .logo-item--padding-sm {
    @apply p-4;
  }

  .logo-item--padding-md {
    @apply p-6 md:p-8;
  }

  .logo-item--padding-lg {
    @apply p-8 md:p-10;
  }

  /* Logo Image Variants */
  .logo-img {
    @apply object-contain;
  }

  .logo-img--standard {
    @apply mx-10 w-3/5;
  }

  .logo-img--contained {
    @apply max-h-16 max-w-full;
  }

  .logo-img--full {
    @apply h-full w-full;
  }

  .logo-img--medium {
    @apply w-2/3;
  }

  /* Glossary Tooltip */
  .glossary-term {
    @apply cursor-help border-b border-dashed no-underline;
  }
  .glossary-tooltip {
    @apply bg-glacier-mist-800 fixed z-[9999] max-w-80 rounded-sm p-4 shadow-sm;
    @apply opacity-0 transition-opacity duration-200;
    display: none;
  }

  .glossary-tooltip-title {
    @apply mb-2 text-sm font-semibold text-gray-900;
  }

  .glossary-tooltip-description {
    @apply text-sm leading-relaxed text-gray-700;
  }

  /* article aside */
  .article-aside {
    @apply border-midnight-fjord/10 text-midnight-fjord relative mb-4 flex w-full flex-col gap-3 rounded-[4px] border-l-4 px-8 py-6 md:mb-5 xl:mb-7;

    &.article-aside--note {
      @apply bg-pale-yellow;
    }

    &.article-aside--caution {
      @apply bg-misty-rose;
    }

    &.article-aside--tip {
      @apply bg-platinum;
    }

    &.small {
      @apply p-5;

      .article-aside-title,
      .article-aside-content {
        @apply datum-text-xs;
      }
      .article-aside-close {
        @apply top-3 right-3;
        svg {
          @apply h-4! w-4!;
        }
      }
    }
  }

  .article-aside-close {
    @apply absolute top-6 right-8 opacity-20 transition-opacity duration-200 hover:cursor-pointer;
    @apply hover:opacity-100;
  }

  .article-aside-header {
    @apply flex items-center gap-2;
  }

  .article-aside-title {
    @apply datum-text-lg font-semibold;
  }

  .article-aside-content {
    @apply datum-text-base text-wrap;
  }

  .icon-label {
    @apply flex items-center gap-4;
  }

  .icon-label-text {
    @apply datum-text-sm;
  }

  .icon-bg {
    @apply bg-canyon-clay/20 aspect-1 flex h-8.5 w-8.5 items-center justify-center rounded-[4px] p-2;

    svg {
      @apply text-canyon-clay---links;
    }
  }

  /* Page Navigation Styles */

  .article-nav {
    @apply mt-10 flex flex-col gap-4 md:mt-14 md:flex-row;
  }

  .article-footer {
    @apply mt-10 md:mt-14;
    @apply flex flex-col gap-6;
    .article-nav {
      @apply mt-0 md:mt-0;
    }

    .last-updated {
      @apply datum-text-sm text-midnight-fjord/60 flex gap-1;
      @apply text-midnight-fjord/60;
    }

    .edit-page {
      @apply datum-text-sm text-midnight-fjord/60 hover:text-midnight-fjord flex items-center gap-1;
      svg {
        @apply text-midnight-fjord/60 hover:text-midnight-fjord;
      }
    }
  }

  .article-nav-item {
    @apply hover:text-midnight-fjord/80 text-midnight-fjord border-midnight-fjord hover:bg-midnight-fjord/5 hover:border-midnight-fjord/80;
    @apply w-full gap-2 border transition-colors duration-200;
    @apply px-7 py-6;

    svg {
      @apply size-4;
    }
  }

  .article-nav-item--label {
    @apply text-midnight-fjord mb-2 flex gap-2;
    @apply datum-docs-sidebar-headings font-medium;
  }

  .article-nav-item--next {
    @apply text-right;
    .article-nav-item--label {
      @apply justify-end;
    }
  }

  .article-nav-item--prev {
    @apply text-left;
    .article-nav-item--label {
      @apply justify-start;
    }
  }

  .article-nav-item--title {
    @apply datum-text-base font-semibold;
  }

  /* Breadcrumbs */

  nav.c-breadcrumbs,
  nav.a-breadcrumbs {
    @apply datum-docs-sidebar-links mt-0 mb-5 block items-center overflow-x-hidden px-0 opacity-80 md:px-0;

    ol {
      @apply flex h-6 w-full items-center;
      @apply m-0 list-none p-0;
    }
    li {
      @apply flex items-center text-nowrap;
    }
    li:first-child {
      @apply mr-1.25;
      &::after {
        @apply hidden;
      }
    }
    li.docs-sm {
      @apply after:hidden;
    }
    li:nth-child(2) {
      @apply inline-block md:hidden;
    }
    li:nth-child(3) {
      @apply hidden md:inline-block;
    }
    li:not(:last-child)::after {
      content: '/';
      @apply mx-1.25 text-[color:var(--sl-color-text)];
    }
    a {
      @apply text-nowrap text-[color:var(--sl-color-text)] no-underline transition-colors hover:text-[color:var(--sl-color-text-accent)];
    }
    svg {
      @apply mr-1.25 inline-block h-4 w-4 align-middle text-[color:var(--sl-color-text-accent)];
    }
    a.is-index {
      @apply -translate-y-0.5;
    }
  }

  nav.a-breadcrumbs {
    li:nth-child(2) {
      @apply inline-block md:inline-block;
    }
    li:nth-child(3) {
      @apply inline-block;
    }
  }

  /* Table of Contents Styles */
  .toc-container {
    @apply w-full flex-col;
  }

  .toc-title {
    @apply datum-docs-sidebar-headings py-1.75 font-medium;
  }

  .toc-nav {
    @apply w-full;
  }

  .toc-list {
  }

  .toc-item {
    @apply datum-docs-sidebar-links list-none;
  }

  .toc-item--level-1 {
    @apply pl-0;
  }

  .toc-item--level-2 {
    @apply pl-0;
  }

  .toc-item--level-3 {
    @apply pl-3;
  }

  .toc-item--level-4 {
    @apply pl-4;
  }

  .toc-item--level-5 {
    @apply pl-5;
  }

  .toc-item--level-6 {
    @apply pl-6;
  }

  .toc-link {
    @apply text-midnight-fjord/80 hover:text-midnight-fjord my-1 inline-block transition-colors duration-200 ease-out;
  }

  .toc-empty {
    @apply text-midnight-fjord/60 datum-docs-sidebar-links italic;
  }

  /* Active link highlighting */
  .toc-link.active {
    @apply text-canyon-clay---links font-medium;
  }

  /* figure */
  figure {
    .figure-image-wrapper {
      @apply [&_img]:w-full;
    }

    &.figure--left {
      @apply text-left;
      @apply float-left;
      @apply my-4 pr-8;

      @apply max-w-1/2;
    }

    &.figure--center {
      @apply text-center;
      @apply [&_img]:w-full;
    }

    &.figure--right {
      @apply text-right;
      @apply float-right;
      @apply my-4 pl-8;

      @apply max-w-1/2;
    }

    img {
      @apply my-0!;
    }

    figcaption {
      @apply datum-text-sm text-canyon-clay! italic;
    }
  }

  img[src*='#center'] {
    @apply m-auto my-8 w-full;
  }

  img[src*='#left'] {
    @apply float-left my-8 ml-auto max-w-1/2 pr-8;
  }

  img[src*='#right'] {
    @apply float-right my-8 mr-auto max-w-1/2 pl-8;
  }
  /* announcement */

  .announcement {
    @apply datum-app-body relative z-40 mb-2.5 flex items-center justify-center gap-4 px-7 py-[15.5px];
    @apply bg-blush-quartz;

    label {
      @apply rounded-md px-2 py-0.5 font-semibold text-nowrap;
      @apply bg-midnight-fjord text-white;
    }

    a {
      @apply flex items-center gap-2 text-balance transition-colors duration-200 ease-out;
      @apply hover:cursor-pointer;

      @apply hover:opacity-80;
    }

    .announcement-close {
      @apply opacity-20 transition-opacity duration-200 hover:cursor-pointer;
      @apply hover:opacity-100;
      @apply absolute top-1/2 right-3 -translate-y-1/2;
    }
  }

  /* expressive code */
  .expressive-code {
    @apply my-4!;

    .frame {
      @apply shadow-none!;

      pre {
        @apply bg-white;
      }

      .header {
        @apply bg-[color-mix(in_srgb,var(--color-glacier-mist-800)_40%,transparent)];
      }
    }
  }
}
