@layer components {
  .feature-table {
    @apply bg-midnight-fjord relative z-30 mx-auto grid max-w-391 grid-cols-1 gap-0 border border-white md:grid-cols-[minmax(300px,auto)_1fr] lg:grid-cols-[minmax(500px,auto)_1fr];
  }

  .feature-table--header {
    @apply flex flex-col items-start justify-start border-r md:col-span-1 md:row-span-4;

    .feature-table--content {
      @apply text-glacier-mist-700 p-9 lg:p-12 xl:p-16;

      h2 {
        @apply datum-text-7xl;
      }
    }
  }

  .feature-table--section {
    @apply flex flex-col gap-7 border-b border-white last:border-b-0 md:col-span-1 md:row-span-1;

    .feature-table--content {
      @apply p-7 md:p-9 lg:p-9 xl:p-12;
      @apply datum-prose-lg;
      @apply text-glacier-mist-700;
      @apply prose-headings:text-aurora-moss;
    }
  }

  .role-tags {
    ul {
      @apply m-0! flex list-none flex-wrap items-center gap-4 p-0! lg:gap-4;

      li {
        @apply bg-indigo datum-text-sm m-0 flex items-center gap-2.5 rounded-full px-4! py-2.5 whitespace-nowrap lg:gap-2 lg:px-5 lg:py-2;

        &:before {
          @apply bg-aurora-moss inline-block h-2 w-2 rounded-full content-[''] lg:h-[9px] lg:w-[9px];
        }
      }
    }
  }

  /* Features Grid Component */
  .features-grid {
    @apply m-auto grid grid-cols-1 content-start gap-9 md:grid-cols-3 lg:gap-12 xl:gap-24;
  }

  .feature-card {
    @apply flex items-start;
  }

  .feature-card--content {
    @apply flex flex-col gap-4;
  }

  .feature-card--content-wrapper {
    @apply space-y-4;
  }

  .feature-card--content--header {
    .feature-card--content-wrapper {
      h2 {
        @apply datum-text-2xl mt-0 font-medium;
      }
      p {
        @apply datum-text-base;
      }
    }
  }

  .feature-card--section {
    .feature-card--content-wrapper {
      @apply datum-text-base text-midnight-fjord;
      ul {
        @apply list-disc space-y-2.5 pl-5;
      }
      h3 {
        @apply datum-text-lg text-canyon-clay---links font-semibold;
      }
    }
  }

  /* Feature Cards Grid - New Design */
  .feature-cards-grid {
    @apply grid max-w-none grid-cols-1 gap-x-10 gap-y-6 md:grid-cols-2 md:gap-y-8 xl:grid-cols-3;
  }

  .feature-card-item {
    @apply flex flex-col gap-6;
  }

  .feature-card--section-content {
    @apply flex flex-col gap-6;
  }

  .feature-card-item--content {
    @apply text-midnight-fjord;
    h3 {
      @apply datum-text-lg mb-2.5 font-semibold;
    }
    p {
      @apply datum-text-base opacity-80;
    }
  }
}
