@layer components {
  .changelog-container {
    @apply max-width max-w-236.25;
  }

  .changelog-item {
    @apply relative flex gap-6 last:mb-0 md:gap-16 last:[&>.changelog-item--content]:pb-10;
  }

  .changelog-item--timeline {
    @apply relative flex flex-shrink-0 flex-col items-center;
  }

  .changelog-item--timeline-dot {
    @apply z-10 h-[19px] w-[19px] overflow-hidden rounded-full;
  }

  .changelog-item--timeline-line {
    @apply w-px flex-1 bg-white/10;
  }

  .changelog-item:last-child .changelog-item--timeline-line {
    @apply hidden;
  }

  .changelog-item--content {
    @apply min-w-0 flex-1 pb-20;
  }

  .changelog-item--date {
    @apply datum-text-smallcaps text-aurora-moss mb-4 uppercase;
  }

  .changelog-item--main {
    @apply space-y-4;
  }

  .changelog-item--title {
    @apply datum-text-2xl font-medium;
  }

  .changelog-item--description {
    @apply datum-prose opacity-80;
  }

  .changelog-item--tags {
    @apply flex flex-col gap-4;
  }

  .changelog-item--tag-group {
    @apply flex items-center gap-6;
  }

  .changelog-item--tag {
    @apply datum-text-sm rounded-lg border px-3.5 py-2 font-semibold;
  }

  .changelog-item--tag-description {
    @apply datum-text-base opacity-80;
  }

  .changelog-item--tag--fixed {
    @apply border-blush-quartz text-blush-quartz;
  }

  .changelog-item--tag--new {
    @apply border-aurora-moss text-aurora-moss;
  }

  .changelog-item--tag--changed {
    @apply border-glacier-mist-900 text-glacier-mist-900;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .changelog-item {
      @apply gap-4;
    }
  }
}
