@layer components {
  .entry-list {
  }

  .entry-list-item {
    @apply border-glacier-mist-900/10 relative mb-0 border-b first:border-t;
  }

  .entry-list-item--wrapper {
    @apply flex items-start justify-between gap-8 py-6 md:items-center md:gap-12;
    @apply transition-all duration-200 ease-linear hover:opacity-70;
  }

  .entry-list-item--title {
    @apply datum-text-xl flex-1 text-white;
  }

  .entry-list-item--meta {
    @apply flex items-center gap-6;
  }

  .entry-list-item--meta-text {
    @apply datum-text-sm text-app---dark---utility-4;
  }
}
