@layer components {
  /* Generic Button Components */
  .btn {
    @apply inline-flex items-center gap-3 rounded-md border px-6 py-3 whitespace-nowrap text-white transition hover:cursor-pointer;
  }

  .btn--primary {
    @apply border-white/20 hover:bg-white/10;
  }

  .btn--secondary {
    @apply border-gray-300/20 hover:bg-gray-300/10;
  }

  /* Button Color Variations */
  .btn--lime {
    @apply bg-lime-green text-navy hover:bg-lime-green/80 border-lime-green;
  }

  .btn--cream {
    @apply bg-cream text-navy hover:bg-lime-green/80 border-lime-green border-navy hover:bg-navy/10;
  }

  .btn--white {
    @apply text-navy border-white bg-white hover:bg-white/90;
  }

  .btn--navy {
    @apply bg-navy hover:bg-navy/90 border-navy text-white;
  }

  .btn--outline {
    @apply border-white/20 bg-transparent text-white hover:bg-white/10;
  }

  .btn--large {
    @apply text-base leading-relaxed font-semibold tracking-tight;
  }

  .btn--medium {
    @apply text-sm leading-relaxed font-medium;
  }

  .btn--small {
    @apply text-xs leading-relaxed font-medium;
  }

  .btn-icon {
    @apply flex h-5 w-5 items-center justify-center;
  }

  .btn-text {
    @apply text-base leading-relaxed font-semibold tracking-tight;
  }

  /* List Styles */
  .ordered-list {
    @apply flex list-none flex-col gap-5 md:gap-8;
    counter-reset: ordered-counter;
  }

  .ordered-list li {
    @apply font-canela text-navy flex items-center gap-6 text-[22px] leading-tight tracking-tight md:gap-10 md:text-4xl;
    counter-increment: ordered-counter;
  }

  .ordered-list li::before {
    @apply font-frontliner text-mauve text-xsm w-5.25 leading-relaxed font-light tracking-widest md:w-7.5 md:text-xl;
    content: '0' counter(ordered-counter);
  }

  .ordered-list span {
    @apply font-frontliner text-mauve text-xl leading-relaxed font-light tracking-widest;
  }

  /* Font Styles */
  .h1-leading {
    @apply font-canela text-navy text-4.5xl mb-14 leading-tight tracking-tighter md:text-6xl lg:text-7xl;
  }

  .h2-leading {
    @apply font-canela text-navy mb-8 text-4xl leading-tight tracking-tighter md:mb-10 md:text-6xl lg:text-7xl;
  }

  .h3-leading {
    @apply font-canela text-navy text-2.5xl lg:text-5.5xl mb-14 leading-tight tracking-tighter md:text-4xl;
  }

  .h4-leading {
    @apply font-canela text-navy text-2.5xl lg:text-4.5xl mb-8 leading-tight tracking-tight md:text-4xl;
  }

  .text-desc {
    @apply font-alliance text-navy text-smb leading-snug md:text-xl;
  }
}
