@theme {
  /* breakpoints */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 120rem;

  /* Custom width */
  --datum-max-width: 1926px;
  --datum-section-width: 155px;

  --color-logo-object: #e8e7e4;
  --color-logo-text: #ffffff;

  /* Main Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-aurora-moss: #e6f59f;
  --color-mauve: #91757b;
  --color-midnight-fjord: #0c1d31;
  --color-midnight-fjord-muted: #14233d;
  --color-midnight-fjord-blue: #2c3e50;
  --color-orange: #ff6b35;
  --color-tuscany: #c49d9d;
  --color-indigo: #2d3948;
  --color-pine-forge: #4d6356;
  --color-glacier-mist-700: #f6f6f5;
  --color-glacier-mist-800: #efefed;
  --color-glacier-mist-900: #e8e7e4;
  --color-blush-quartz: #ecd0d0;
  --color-canyon-clay: #bf9595;
  --color-canyon-clay---links: #9c7979;
  --color-potted-olive: #adbab0;
  --color-cultured: #f5f5f3;
  --color-pale-yellow: #fffbc5;
  --color-misty-rose: #fde2e2;
  --color-platinum: #e2e9e3;

  /* Font Sizes */
  --text-xsm: 13px;
  --text-smb: 15px;
  --text-10: 10px;
  --text-11: 11px;
  --text-13: 13px;
  --text-15: 15px;
  --text-17: 17px;
  --text-19: 19px;
  --text-22: 22px;
  --text-28: 28px;
  --text-38: 38px;
  --text-40: 40px;
  --text-42: 42px;
  --text-44: 44px;
  --text-46: 46px;
  --text-54: 54px;
  --text-60: 60px;
  --text-72: 72px;

  /* letter-spacing */
  --tracking-1: -1.5px;

  /* Font Families */
  --font-primary:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-canela: 'Canela Text', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-alliance:
    'Alliance No.1', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-frontliner:
    'Frontliner', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* Starlight */
  --sl-label-icon-size: 18px;

  /* Color Datum */
  --sl-color-text-accent: #bf9595;

  --color-borderpanellight: #d0d0ca;
  --color-borderpaneldark: #313066;
}
