@layer utilities {
  .datum-container {
    @apply container m-auto;
    max-width: var(--datum-max-width);
  }

  .inner-max-w {
    max-width: var(--datum-section-width);
  }

  .font-canela {
    font-family: var(--font-canela);
  }

  .font-alliance {
    font-family: var(--font-alliance);
  }

  .font-frontliner {
    font-family: var(--font-frontliner);
  }
}
