:root {
  /* breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 120rem;

  /* colors */
  --app---dark---utility-1: #223143;
  --app---dark---utility-2: #384555;
  --app---dark---utility-3: #67717c;
  --app---dark---utility-4: #90969c;
  --app---dark---utility-5: #e3e2df;
  --aurora-moss: #e6f59f;
  --black: #000000;
  --blush-quartz: #ecd0d0;
  --canyon-clay: #bf9595;
  --canyon-clay---links: #9c7979;
  --glacier-mist-700: #f6f6f5;
  --glacier-mist-800: #efefed;
  --glacier-mist-900: #e8e7e4;
  --midnight-fjord: #0c1d31;
  --pine-forge: #4d6356;
  --potted-olive: #adbab0;
  --white: #ffffff;

  /* number */
  --xxs: -0.0938rem;
  --xs: -0.075rem;
  --s: -0.05rem;
  --l: -0.0188rem;
  --xl: 0rem;
  --xxl: 0.0063rem;
  --m: 0.025rem;
  --smallcaps: 0.025rem;

  /* string */
  --alliance: Alliance No.1;
  --canela: Canela Text LC Web;
  --frontliner: Frontliner;

  /* font-sizes (increased by 15%) */
  --0px: 0rem;
  --1px: 0.071875rem;
  --2px: 0.14375rem;
  --4px: 0.2875rem;
  --6px: 0.43125rem;
  --8px: 0.575rem;
  --10px: 0.71875rem;
  --11px: 0.790625rem;
  --12px: 0.8625rem;
  --13px: 0.934375rem;
  --14px: 1.00625rem;
  --16px: 1.15rem;
  --18px: 1.29375rem;
  --20px: 1.4375rem;
  --21px: 1.509375rem;
  --22px: 1.58125rem;
  --24px: 1.725rem;
  --26px: 1.86875rem;
  --28px: 2.0125rem;
  --30px: 2.15625rem;
  --32px: 2.3rem;
  --34px: 2.44375rem;
  --36px: 2.5875rem;
  --38px: 2.73125rem;
  --40px: 2.875rem;
  --42px: 3.01875rem;
  --44px: 3.1625rem;
  --48px: 3.45rem;
  --54px: 3.88125rem;
  --56px: 4.025rem;
  --58px: 4.16875rem;
  --60px: 4.3125rem;
  --64px: 4.6rem;
  --68px: 4.8875rem;
  --70px: 5.03125rem;
  --72px: 5.175rem;
  --80px: 5.75rem;
  --96px: 6.9rem;
  --112px: 8.05rem;
  --128px: 9.2rem;
  --144px: 10.35rem;
  --160px: 11.5rem;
  --176px: 12.65rem;
  --192px: 13.8rem;
  --208px: 14.95rem;
  --224px: 16.1rem;
  --240px: 17.25rem;
  --256px: 18.4rem;
  --288px: 20.7rem;
  --320px: 23rem;
  --384px: 27.6rem;
  /* end of font-sizes */

  /* radius */
  --radius-none: 0rem;
  --radius-sm: 3px;
  --radius-md: 6px;
  --radius-lg: 9px;
}
