---
import Layout from '@layouts/Layout.astro';
Astro.response.status = 404;
---

<Layout title="Datum" description="Datum Handbook">
  <section id="content" class="rounded-lg bg-white py-12 shadow-sm">
    <div class="prose lg:prose-xl mx-auto max-w-3xl">
      <span class="text-6xl font-bold text-red-500">404</span>
      <h1 class="text-blackberry-600 mt-4 text-xl">Not Found</h1>
    </div>
  </section>
</Layout>
