---
import Layout from '@layouts/Layout.astro';
---

<Layout title={'Page not found.'}>
  <main class="container mx-auto px-4 py-8">
    <article class="prose max-w-none">Page not found.</article>
  </main>
</Layout>
