---
import Layout from '@layouts/Handbook.astro';
import { getCollection } from 'astro:content';

const handbooks = await getCollection('handbooks');

var handbookCollection: {
  [key: string]: { id: string; title: string; category: string; url: string; order: number }[];
} = {};

handbooks.forEach((collection) => {
  if (!collection.data.draft) {
    let urlSplit = collection.id.split('/');
    let order = collection.data.sidebar.order || 0;
    let category = String(urlSplit[0]).charAt(0).toUpperCase() + String(urlSplit[0]).slice(1);

    let temp = {
      id: collection.id,
      title: collection.data.title,
      category,
      url: '/handbook/' + collection.id,
      order,
    };

    if (!handbookCollection[category]) {
      handbookCollection[category] = [];
    }

    handbookCollection[category].push(temp);
  }
});
---

<Layout title="Datum" description="Datum Handbook">
  <section
    id="content"
    class="mx-auto min-h-[100dvh] w-full max-w-5xl space-y-8 px-6 pt-6 pb-0 md:max-w-7xl"
  >
    <div class="flex min-h-[40rem] flex-col items-start justify-start gap-8 md:flex-row md:gap-16">
      <div class="relative flex w-full flex-col gap-4 md:w-[unset] md:shrink md:grow md:basis-0">
        <h1 class="text-center text-6xl">Handbook</h1>

        <div class="mt-10">
          {
            Object.keys(handbookCollection).map((category) => {
              // except for index
              if (category.toLowerCase() !== 'undefined') {
                return (
                  <div class="block p-6">
                    <div class="text-blackberry-900 text-3xl font-bold tracking-tight">
                      {category}
                    </div>

                    <ul class="mt-6">
                      {handbookCollection[category]
                        .sort(function (a, b) {
                          return a.order - b.order;
                        })
                        .map((handbook) => {
                          return (
                            <li class="m-4">
                              <a
                                href={handbook.url}
                                class="text-blackberry-600 hover:text-blackberry-900 text-xl font-normal underline hover:font-extrabold"
                              >
                                {handbook.title}
                              </a>
                            </li>
                          );
                        })}
                    </ul>
                  </div>
                );
              }
            })
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
