---
import Layout from '@layouts/Layout.astro';
import { getCollectionEntry } from '@utils/collectionUtils';

const page = await getCollectionEntry('pages', '/');
const { Content } = await page.render();
---

<Layout title={page.data.title || 'Datum'} description={page.data.description}>
  <section id="content" class="rounded-lg bg-white py-12 shadow-sm">
    <div class="prose lg:prose-xl mx-auto max-w-3xl">
      <Content />
    </div>
  </section>
</Layout>
