---
export const prerender = false;

import '@v1/styles/page-blog.css';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';

// SEO
const title = 'Newsletter';
const description = 'Stay updated with the latest news and updates from Datum.';
---

<Layout title={title || 'Datum'} description={description} bodyClass="page-newsletter">
  <section class="datum-container">
    <Hero class="light" />

    <div class="section--block bg-glacier-mist-700 light">
      <div class="max-width">
        <div
          class="border-midnight-fjord mx-auto max-w-2xl border bg-white p-8 text-center md:p-12 xl:p-16"
        >
          <h2 class="datum-text-3xl mb-6 font-semibold">You're on the list!</h2>
          <div class="datum-prose-lg">
            <p>
              Thanks so much for your interest in Datum Cloud. We're excited to get you onto the
              platform.
            </p>
            <p>
              Hang tight and be on the lookout for an email notification (we'll send you a note when
              your account is ready to go).
            </p>
          </div>
          <div class="datum-prose border-glacier-mist-900 mt-8 border p-6">
            <p>
              In the meantime, join us on <a href="https://link.datum.net/discord">Discord</a>, drop
              by an upcoming <a href="/community-huddle/">Community Huddle</a>, or check out our <a
                href="/docs/">Docs</a
              >.
            </p>
          </div>
        </div>
      </div>
    </div>

    <Footer showCTA={false} showSignup={false} />
  </section>
</Layout>
