---
import Nav from '@components/Nav.astro';
---

<section
  class="hero--main [&_.nav-actions_.gh-button]:md:hidden [&_.nav-actions_.gh-button]:xl:inline-flex"
>
  <Nav showLoginButton={false} showThemeSelect={true} showGithubButton={true} />
</section>
