---
// src/components/home/WhatIsDatum.astro
import WhatIsDatumGrid from '@assets/svgs/what-is-datum-grid.svg';

const { class: className = '' } = Astro.props;
---

<section
  id="what-is-datum"
  class="section--block section--block--pad section--block--large-pad bg-glacier-mist-700/70 border-silver-mist/50 overflow-hidden border-b"
>
  <WhatIsDatumGrid
    class="pointer-events-none absolute top-0 left-7 z-0 hidden h-full w-auto lg:left-11.25 lg:block xl:left-11 2xl:left-11.5"
    aria-hidden="true"
  />

  <div class="max-width-nav">
    <div class:list={['relative', className]}>
      <div
        class="relative z-10 mx-auto flex w-full flex-col gap-7 md:pr-30 md:pl-0 lg:pl-65 xl:pr-47 xl:pl-70 2xl:pr-47 2xl:pl-50"
      >
        <span class="section-eyebrow">What is Datum?</span>
        <div
          class="datum-text-2xl text-midnight-fjord flex flex-col gap-7 text-pretty [&>p]:opacity-80"
        >
          <p>
            We're a venture-backed infrastructure startup upgrading the internet for a world
            disrupted by AI.
          </p>
          <p>
            We think every tech-forward company will move intelligence to the edge, keep workloads
            off the public internet, and curate with whom and how they connect.
          </p>
          <p>
            We make it that possible with a modern edge cloud platform and dedicated infrastructure
            services.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
