---
import { getEntry } from 'astro:content';
import UIConsole from '@v1/assets/svgs/ui.svg';
const content = await getEntry('pages', 'global-section');
---

<section class="bg-aurora-moss section--block flex pt-16 align-middle lg:pt-20 xl:pt-28">
  <div class="flex w-full flex-col items-center gap-12 align-middle md:gap-6">
    <div class="max-width flex flex-col align-middle">
      <div
        class="fade-in--pure z-50 mx-auto flex flex-col items-center space-y-6 pb-9 text-center md:max-w-124 md:pb-12 lg:space-y-10 lg:pb-10 xl:pb-20"
        data-reveal="fade-in--pure--visible"
        data-reveal-delay="100"
      >
        <h2 class="datum-text-8xl max-w-xs md:max-w-sm">{content?.data.title}</h2>
        <div class="datum-text-lg">
          <p>{content?.body}</p>
        </div>
      </div>

      <div class="z-0 flex w-full items-end mix-blend-multiply">
        <div class="relative mr-auto">
          <UIConsole class="relative h-auto w-full" />
        </div>
      </div>
    </div>
  </div>
</section>
