---
import { getEntry } from 'astro:content';
import UIConsole from '@v1/assets/svgs/ui.svg';
const content = await getEntry('pages', 'global-section');
---

<section
  class="bg-lime-green section--block section--block--big-pad flex pt-20 pb-0 align-middle md:pt-34 lg:pt-54"
>
  <div class="flex w-full flex-col items-center gap-12 align-middle md:gap-6">
    <div
      class="fade-in--pure z-50 mx-auto mb-8 max-w-2xl text-center md:mb-18 lg:mb-22"
      data-reveal="fade-in--pure--visible"
      data-reveal-delay="100"
    >
      <h2 class="h2-leading">{content?.data.title}</h2>
      <div class="text-desc mx-auto mt-8 max-w-3xl md:mt-12">
        <p>{content?.body}</p>
      </div>
    </div>

    <div class="z-0 flex w-full max-w-[1416px] items-end pl-6 mix-blend-multiply md:px-18">
      <div class="relative mr-auto">
        <UIConsole class="relative h-auto w-full" />
      </div>
    </div>
  </div>
</section>
