---
import Nav from '@components/Nav.astro';
import type { HeroProps } from '@/src/types/common';

const { class: className } = Astro.props as HeroProps;
---

<section class:list={['hero--main', className]}>
  <Nav />
</section>
