---
import Logo from '@v1/assets/svgs/datum-logo.svg';
import MobileMenu from '@components/MobileMenu.astro';
import GithubStargazerValue from '@components/GithubStargazerValue.astro';
import Button from '@components/Button.astro';
import LogoDropdown from '@components/LogoDropdown.astro';
import NavMenu from '@components/NavMenu.astro';
import ThemeSelect from '@components/ThemeSelect.astro';

type Props = {
  showGithubButton?: boolean;
  showLoginButton?: boolean;
  showThemeSelect?: boolean;
};

const {
  showGithubButton = true,
  showLoginButton = false,
  showThemeSelect = false,
}: Props = Astro.props;
---

<nav class="nav--main">
  {/* Logo */}

  <div class="nav-logo-container">
    <a href="/" class="nav-logo" id="logo-link" aria-label="Datum Logo" title="Datum Logo">
      <Logo
        class="fade-in--pure"
        data-reveal="fade-in--pure--visible"
        data-reveal-delay="100"
        data-reveal-immediate="true"
      />
    </a>

    {/* Logo Download Dropdown */}
    <LogoDropdown id="logo-dropdown" triggerElementId="logo-link" />
  </div>

  {/* Desktop Menu */}
  <NavMenu />

  {/* Desktop Actions */}
  <div class="nav-actions">
    {
      showGithubButton && (
        <Button
          class={`btn btn--primary gh-button fade-in--pure min-w-[115px] md:hidden lg:inline-flex`}
          data-reveal="fade-in--pure--visible"
          data-reveal-delay="100"
          data-reveal-immediate="true"
          icon={{ name: 'github', size: 'md' }}
          iconPosition="left"
          iconClass="stroke-1.5"
          target="_blank"
          href="https://github.com/datum-cloud/datum/"
        >
          <GithubStargazerValue server:defer />
        </Button>
      )
    }

    {
      showLoginButton && (
        <Button
          class="btn btn--primary fade-in--pure min-w-[115px]"
          data-reveal="fade-in--pure--visible"
          data-reveal-delay="100"
          data-reveal-immediate="true"
          text="Log In"
          icon={{ name: 'user', size: 'md' }}
          iconPosition="left"
          iconClass="stroke-1.5"
          href="https://cloud.datum.net/"
        />
      )
    }

    {showThemeSelect && <ThemeSelect />}
  </div>

  {/* Mobile Menu Component */}
  <MobileMenu />
</nav>
