---
import navData from '@data/navigation.json';

const { location = 'header', classList = '' } = Astro.props;
const navItems = location === 'header' ? navData.main : navData.footer;
const currentPath = Astro.url.pathname;

function isActive(itemHref: string, currentPath: string) {
  if (itemHref === '/' && currentPath !== '/') {
    return false;
  }

  return currentPath.startsWith(itemHref);
}
---

<nav class={classList}>
  <ul class="flex flex-wrap space-x-2 md:space-x-6">
    {
      navItems.map((item) => (
        <li>
          <a
            href={item.href}
            class={`font-medium transition duration-150 ${location === 'header' ? 'text-gray-600 hover:text-white' : 'text-gray-300 hover:text-white'} ${isActive(item.href, currentPath) ? 'text-primary font-semibold' : ''} `}
            target={item.isExternal ? '_blank' : undefined}
            rel={item.isExternal ? 'noopener noreferrer' : undefined}
            aria-current={isActive(item.href, currentPath) ? 'page' : undefined}
          >
            {item.text}
            {item.isExternal && <span class="ml-1 text-xs">↗</span>}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
