---
import Logo from '@v1/assets/svgs/datum-logo.svg';
import MobileMenu from '@components/MobileMenu.astro';
import GithubStargazerValue from '@components/GithubStargazerValue.astro';
import Button from '@components/Button.astro';
import LogoDropdown from '@components/LogoDropdown.astro';
import NavMenu from '@components/NavMenu.astro';
import ThemeSelect from '@components/ThemeSelect.astro';

type Props = {
  showGithubButton?: boolean;
  showLoginButton?: boolean;
  showThemeSelect?: boolean;
};

const {
  showGithubButton = true,
  showLoginButton = false,
  showThemeSelect = false,
}: Props = Astro.props;
---

<nav
  class="nav--main fade-in--pure"
  data-reveal="fade-in--pure--visible"
  data-reveal-immediate="true"
  role="navigation"
>
  {/* Logo */}

  <div class="nav-logo-container">
    <a href="/" class="nav-logo" id="logo-link" aria-label="Datum Logo" title="Datum Logo">
      <Logo />
    </a>

    {/* Logo Download Dropdown */}
    <LogoDropdown id="logo-dropdown" triggerElementId="logo-link" />
  </div>

  {/* Desktop Menu */}
  <NavMenu />

  {/* Desktop Actions */}
  <div class="nav-actions">
    {showThemeSelect && <ThemeSelect />}

    {
      showGithubButton && (
        <Button
          class="btn gh-button btn--sm"
          icon={{ name: 'github', size: 'md' }}
          iconPosition="left"
          iconClass="stroke-1.5"
          target="_blank"
          href="https://github.com/datum-cloud/datum/"
        >
          <GithubStargazerValue server:defer />
        </Button>
      )
    }

    <Button
      class="btn btn--sm"
      target="_blank"
      href="https://auth.datum.net/ui/v2/login/register"
      data-fathom-event="Nav: Request Access"
    >
      Request Access
    </Button>
    {
      showLoginButton && (
        <Button
          class="btn btn--sm"
          text="Log In"
          icon={{ name: 'user', size: 'md' }}
          iconPosition="left"
          iconClass="stroke-1.5"
          href="https://cloud.datum.net/"
        />
      )
    }
  </div>

  {/* Mobile Menu Component */}
  <MobileMenu />
</nav>
