---
import type { FeaturesProps } from '@/src/types/features';

const { features } = Astro.props as FeaturesProps;
---

<div
  class="features-grid fade-in--pure"
  data-reveal="fade-in--pure--visible"
  data-reveal-delay="100"
>
  <!-- Apps Feature Card -->
  {
    features.map((item) => (
      <div class="feature-card">
        <div class="feature-card--content">
          <div class="feature-card--section feature-card--content--header">
            <div class="feature-card--content-wrapper">
              <h2>{item.data.title}</h2>
              <p>{item.body}</p>
            </div>
          </div>

          <div class="feature-card--section">
            <div class="feature-card--content-wrapper">
              <h3>Key features</h3>
              <ul>
                {item.data.keyFeatures.map((feature) => (
                  <li>{feature}</li>
                ))}
              </ul>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
