---

---

<div class="feature-table">
  <!-- Header Section -->
  <div class="feature-table--header">
    <div class="feature-table--content">
      <slot name="header" />
    </div>
  </div>

  <div class="feature-table--section border-t-1 md:border-t-0">
    <div class="feature-table--content">
      <slot name="description" />
    </div>
  </div>

  <!-- Key Features Section -->
  <div class="feature-table--section">
    <div class="feature-table--content">
      <slot name="features" />
    </div>
  </div>

  <!-- Perfect For Section -->
  <div class="feature-table--section">
    <div class="feature-table--content role-tags">
      <slot name="audience" />
    </div>
  </div>
</div>
