---

---

<div class="feature-table">
  <!-- Header Section -->
  <div class="feature-table__header">
    <div class="feature-table__content">
      <slot name="header" />
    </div>
  </div>

  <div class="feature-table__section border-t-1 md:border-t-0">
    <div class="feature-table__content">
      <slot name="description" />
    </div>
  </div>

  <!-- Key Features Section -->
  <div class="feature-table__section">
    <div class="feature-table__content">
      <slot name="features" />
    </div>
  </div>

  <!-- Benefits Section -->
  <div class="feature-table__section">
    <div class="feature-table__content">
      <slot name="benefits" />
    </div>
  </div>

  <!-- Perfect For Section -->
  <div class="feature-table__section">
    <div class="feature-table__content role-tags">
      <slot name="audience" />
    </div>
  </div>
</div>
