---

---

<div class="feature-table">
  <!-- Header Section -->
  <div class="feature-table--header">
    <div class="feature-table--content">
      <slot name="header" />
    </div>
  </div>

  {
    Astro.slots.has('description') && (
      <div class="feature-table--section border-t md:border-t-0">
        <div class="feature-table--content">
          <slot name="description" />
        </div>
      </div>
    )
  }

  <!-- Key Features Section -->
  <div class="feature-table--section">
    <div class="feature-table--content">
      <slot name="features" />
    </div>
  </div>

  <!-- Next steps Section -->
  <div class="feature-table--section">
    <div class="feature-table--content role-tags">
      <slot name="docs" />
    </div>
  </div>
</div>
