---

---

<div
  class="feature-table fade-in--pure"
  data-reveal="fade-in--pure--visible"
  data-reveal-delay="100"
  data-reveal-immediate="true"
>
  <!-- Header Section -->
  <div class="feature-table--header">
    <div class="feature-table--content">
      <slot name="header" />
    </div>
  </div>

  <div class="feature-table--section border-t md:border-t-0">
    <div class="feature-table--content">
      <slot name="description" />
    </div>
  </div>

  <!-- Key Features Section -->
  <div class="feature-table--section">
    <div class="feature-table--content">
      <slot name="features" />
    </div>
  </div>

  <!-- Read the docs Section -->
  <div class="feature-table--section">
    <div class="feature-table--content role-tags">
      <slot name="docs" />
    </div>
  </div>
</div>
