---
const baseProjectURL =
  process.env.GITHUB_PROJECT_URL ||
  import.meta.env.GITHUB_PROJECT_URL ||
  'http://github.com/datum-cloud/datum.net';

interface EditPageProps {
  filePath?: string;
}

const { filePath } = Astro.props as EditPageProps;

if (!filePath) {
  return null;
}

const fileUrl = new URL(baseProjectURL + '/edit/main/' + filePath).toString();
---

{
  filePath && (
    <a href={fileUrl} class="edit-page" target="_blank">
      <svg
        aria-hidden="true"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="currentColor"
        style="icon-size: 1em; vertical-align: middle"
      >
        <path d="M22 7.24a1 1 0 0 0-.29-.71l-4.24-4.24a1 1 0 0 0-1.1-.22 1 1 0 0 0-.32.22l-2.83 2.83L2.29 16.05a1 1 0 0 0-.29.71V21a1 1 0 0 0 1 1h4.24a1 1 0 0 0 .76-.29l10.87-10.93L21.71 8c.1-.1.17-.2.22-.33a1 1 0 0 0 0-.24v-.14l.07-.05ZM6.83 20H4v-2.83l9.93-9.93 2.83 2.83L6.83 20ZM18.17 8.66l-2.83-2.83 1.42-1.41 2.82 2.82-1.41 1.42Z" />
      </svg>
      Edit page
    </a>
  )
}
