---
const tagline = '';
---

<div class="hero">
  <div class="">
    <div class="">
      <h1 id="id" data-page-title set:html="title" />
      {tagline && <div class="tagline" set:html="tagline" />}
    </div>
  </div>
</div>
