name: Publish Website

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'env.example'
      - '.vscode/**'
      - 'public/pagefind/**'
      - '**/pagefind/**'

  release:
    types: ['published']

jobs:
  check-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

  build-and-push:
    permissions:
      contents: read
      packages: write
      id-token: write
    needs: check-files
    uses: datum-cloud/actions/.github/workflows/publish-docker.yaml@v1.7.4
    with:
      image-name: datum-net
      target: production
      extra-build-args: |
        ASTRO_TELEMETRY_DISABLED=1
    secrets: inherit

  publish-kustomize-bundles:
    permissions:
      id-token: write
      contents: read
      packages: write
    needs: build-and-push
    uses: datum-cloud/actions/.github/workflows/publish-kustomize-bundle.yaml@v1.7.4
    with:
      bundle-name: ghcr.io/datum-cloud/datum-net-kustomize
      bundle-path: config/base
      image-overlays: config/base
      image-name: ghcr.io/datum-cloud/datum-net
    secrets: inherit
