{
  "openapi": "3.1.0",
  "info": {
    "title": "Luma API",
    "version": "1.0.0",
    "description": "API for interacting with Luma's event platform.",
    "contact": {
      "name": "Luma Support",
      "url": "https://help.luma.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://public-api.luma.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/event/get": {
      "get": {
        "tags": ["Events"],
        "summary": "Get Event",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "deprecated": true,
              "description": "Event ID, this usually starts with evt-",
              "type": "string"
            },
            "description": "Event ID, this usually starts with evt-"
          },
          {
            "name": "api_id",
            "in": "query",
            "required": false,
            "schema": {
              "deprecated": true,
              "description": "Event API ID, this usually starts with evt-",
              "type": "string"
            },
            "description": "Event API ID, this usually starts with evt-"
          }
        ],
        "description": "Return admin information about an event that you have manage access for.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "calendar_id": {
                          "type": "string"
                        },
                        "start_at": {
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                        },
                        "duration_interval": {
                          "type": "string"
                        },
                        "end_at": {
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                        },
                        "created_at": {
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                        },
                        "timezone": {
                          "description": "IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones",
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "description_md": {
                          "type": "string"
                        },
                        "geo_address_json": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string"
                                },
                                "city": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "region": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "country": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "city_state": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "full_address": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "google_maps_place_id": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "apple_maps_place_id": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "description": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "address",
                                "city",
                                "region",
                                "country",
                                "city_state",
                                "full_address",
                                "google_maps_place_id",
                                "apple_maps_place_id",
                                "description"
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "geo_latitude": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "geo_longitude": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "meeting_url": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "cover_url": {
                          "type": "string"
                        },
                        "registration_questions": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "agree-check"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "company"
                                  },
                                  "collect_job_title": {
                                    "type": "boolean"
                                  },
                                  "job_title_label": {
                                    "type": "string"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "dropdown"
                                  },
                                  "options": {
                                    "maxItems": 250,
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": ["id", "label", "required", "question_type", "options"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "github"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "instagram"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "linkedin"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "long-text"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "multi-select"
                                  },
                                  "options": {
                                    "maxItems": 250,
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "required": ["id", "label", "required", "question_type", "options"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "phone-number"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "telegram"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "twitter"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "text"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "url"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "const": "youtube"
                                  }
                                },
                                "required": ["id", "label", "required", "question_type"]
                              }
                            ]
                          }
                        },
                        "url": {
                          "type": "string"
                        },
                        "visibility": {
                          "type": "string",
                          "enum": ["public", "members-only", "private"]
                        },
                        "api_id": {
                          "deprecated": true,
                          "type": "string"
                        },
                        "user_api_id": {
                          "deprecated": true,
                          "type": "string"
                        },
                        "calendar_api_id": {
                          "deprecated": true,
                          "type": "string"
                        },
                        "zoom_meeting_url": {
                          "deprecated": true,
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "user_id",
                        "calendar_id",
                        "start_at",
                        "duration_interval",
                        "end_at",
                        "created_at",
                        "timezone",
                        "name",
                        "description",
                        "description_md",
                        "geo_address_json",
                        "geo_latitude",
                        "geo_longitude",
                        "meeting_url",
                        "cover_url",
                        "url",
                        "visibility",
                        "api_id",
                        "user_api_id",
                        "calendar_api_id",
                        "zoom_meeting_url"
                      ]
                    },
                    "hosts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "first_name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "last_name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "avatar_url": {
                            "type": "string"
                          },
                          "api_id": {
                            "deprecated": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "email",
                          "name",
                          "first_name",
                          "last_name",
                          "avatar_url",
                          "api_id"
                        ]
                      }
                    }
                  },
                  "required": ["event", "hosts"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendar/list-events": {
      "get": {
        "tags": ["Calendars"],
        "summary": "List Events",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
            },
            "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
            },
            "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
          },
          {
            "name": "pagination_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Value of `next_cursor` from a previous request.",
              "type": "string"
            },
            "description": "Value of `next_cursor` from a previous request."
          },
          {
            "name": "pagination_limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "The number of items to return. The server will enforce a maximum number.",
              "type": "number"
            },
            "description": "The number of items to return. The server will enforce a maximum number."
          },
          {
            "name": "sort_column",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["start_at"]
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc", "asc nulls last", "desc nulls last"]
            }
          }
        ],
        "description": "Every event and API key on Luma is managed by a [Luma Calendar](https://help.luma.com/p/luma-calendar-overview). You can list all of the events managed by your Calendar by using this API route.\n\nNote that this API route will not list events that are listed on the Calendar but not managed by the Calendar.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_id": {
                            "type": "string"
                          },
                          "event": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "user_id": {
                                "type": "string"
                              },
                              "calendar_id": {
                                "type": "string"
                              },
                              "start_at": {
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                              },
                              "duration_interval": {
                                "type": "string"
                              },
                              "end_at": {
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                              },
                              "created_at": {
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                              },
                              "timezone": {
                                "description": "IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones",
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "description_md": {
                                "type": "string"
                              },
                              "geo_address_json": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "string"
                                      },
                                      "city": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "region": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "country": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "city_state": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "full_address": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "google_maps_place_id": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "apple_maps_place_id": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "description": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "required": [
                                      "address",
                                      "city",
                                      "region",
                                      "country",
                                      "city_state",
                                      "full_address",
                                      "google_maps_place_id",
                                      "apple_maps_place_id",
                                      "description"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "geo_latitude": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "geo_longitude": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "meeting_url": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "cover_url": {
                                "type": "string"
                              },
                              "registration_questions": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "agree-check"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "company"
                                        },
                                        "collect_job_title": {
                                          "type": "boolean"
                                        },
                                        "job_title_label": {
                                          "type": "string"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "dropdown"
                                        },
                                        "options": {
                                          "maxItems": 250,
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "label",
                                        "required",
                                        "question_type",
                                        "options"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "github"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "instagram"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "linkedin"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "long-text"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "multi-select"
                                        },
                                        "options": {
                                          "maxItems": 250,
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "label",
                                        "required",
                                        "question_type",
                                        "options"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "phone-number"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "telegram"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "twitter"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "text"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "url"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "required": {
                                          "type": "boolean"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "const": "youtube"
                                        }
                                      },
                                      "required": ["id", "label", "required", "question_type"]
                                    }
                                  ]
                                }
                              },
                              "url": {
                                "type": "string"
                              },
                              "visibility": {
                                "type": "string",
                                "enum": ["public", "members-only", "private"]
                              },
                              "api_id": {
                                "deprecated": true,
                                "type": "string"
                              },
                              "user_api_id": {
                                "deprecated": true,
                                "type": "string"
                              },
                              "calendar_api_id": {
                                "deprecated": true,
                                "type": "string"
                              },
                              "zoom_meeting_url": {
                                "deprecated": true,
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "user_id",
                              "calendar_id",
                              "start_at",
                              "duration_interval",
                              "end_at",
                              "created_at",
                              "timezone",
                              "name",
                              "description",
                              "description_md",
                              "geo_address_json",
                              "geo_latitude",
                              "geo_longitude",
                              "meeting_url",
                              "cover_url",
                              "url",
                              "visibility",
                              "api_id",
                              "user_api_id",
                              "calendar_api_id",
                              "zoom_meeting_url"
                            ]
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "api_id": {
                                  "deprecated": true,
                                  "type": "string"
                                }
                              },
                              "required": ["id", "name", "api_id"]
                            }
                          }
                        },
                        "required": ["api_id", "event", "tags"]
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string"
                    }
                  },
                  "required": ["entries", "has_more"]
                }
              }
            }
          }
        }
      }
    },
    "/v1/event/get-guest": {
      "get": {
        "tags": ["Events"],
        "summary": "Get Guest",
        "parameters": [
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Event ID, this usually starts with evt-",
              "type": "string"
            },
            "description": "Event ID, this usually starts with evt-"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "You can choose from a few different identifiers here including guest ID (gst-), ticket key, guest key (g-), or the user's email.",
              "type": "string"
            },
            "description": "You can choose from a few different identifiers here including guest ID (gst-), ticket key, guest key (g-), or the user's email."
          },
          {
            "name": "event_api_id",
            "in": "query",
            "required": false,
            "schema": {
              "deprecated": true,
              "type": "string"
            }
          },
          {
            "name": "api_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "This is the API ID of the guest (not the user).",
              "deprecated": true,
              "type": "string"
            },
            "description": "This is the API ID of the guest (not the user)."
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "deprecated": true,
              "type": "string"
            }
          },
          {
            "name": "proxy_key",
            "in": "query",
            "required": false,
            "schema": {
              "deprecated": true,
              "description": "In the check in QR code, this is the value of the `pk` parameter.",
              "type": "string"
            },
            "description": "In the check in QR code, this is the value of the `pk` parameter."
          }
        ],
        "description": "Get an event guest by looking them up by their ID. This supports looking them up by different parameters.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "guest": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "user_id": {
                          "type": "string"
                        },
                        "user_email": {
                          "type": "string"
                        },
                        "user_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "user_first_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "user_last_name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "approval_status": {
                          "type": "string",
                          "enum": [
                            "approved",
                            "session",
                            "pending_approval",
                            "invited",
                            "declined",
                            "waitlist"
                          ]
                        },
                        "check_in_qr_code": {
                          "type": "string"
                        },
                        "custom_source": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "eth_address": {
                          "anyOf": [
                            {
                              "type": "string",
                              "pattern": "^0x[0-9a-fA-F]{40}$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "invited_at": {
                          "anyOf": [
                            {
                              "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "joined_at": {
                          "anyOf": [
                            {
                              "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "phone_number": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "registered_at": {
                          "anyOf": [
                            {
                              "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "registration_answers": {
                          "anyOf": [
                            {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "boolean"
                                      },
                                      "answer": {
                                        "type": "boolean"
                                      },
                                      "question_type": {
                                        "type": "string",
                                        "const": "agree-check"
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "object",
                                        "properties": {
                                          "company": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          },
                                          "job_title": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          }
                                        }
                                      },
                                      "answer": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer_company": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer_job_title": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "question_type": {
                                        "type": "string",
                                        "const": "company"
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "question_type": {
                                        "type": "string",
                                        "const": "dropdown"
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "anyOf": [
                                          {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer": {
                                        "anyOf": [
                                          {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "question_type": {
                                        "type": "string",
                                        "const": "multi-select"
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "question_type": {
                                        "type": "string",
                                        "const": "phone-number"
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "anyOf": [
                                          {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "boolean",
                                                "const": true
                                              }
                                            ]
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer": {
                                        "anyOf": [
                                          {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "boolean",
                                                "const": true
                                              }
                                            ]
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "question_type": {
                                        "type": "string",
                                        "const": "terms"
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "question_type": {
                                        "anyOf": [
                                          {
                                            "type": "string",
                                            "const": "github"
                                          },
                                          {
                                            "type": "string",
                                            "const": "instagram"
                                          },
                                          {
                                            "type": "string",
                                            "const": "linkedin"
                                          },
                                          {
                                            "type": "string",
                                            "const": "long-text"
                                          },
                                          {
                                            "type": "string",
                                            "const": "telegram"
                                          },
                                          {
                                            "type": "string",
                                            "const": "text"
                                          },
                                          {
                                            "type": "string",
                                            "const": "twitter"
                                          },
                                          {
                                            "type": "string",
                                            "const": "youtube"
                                          }
                                        ]
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "label": {
                                        "type": "string"
                                      },
                                      "question_id": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "answer": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      "question_type": {
                                        "type": "string",
                                        "const": "url"
                                      }
                                    },
                                    "required": ["label", "question_id", "value", "question_type"]
                                  }
                                ]
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "solana_address": {
                          "anyOf": [
                            {
                              "type": "string",
                              "pattern": "^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "event_tickets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amount_discount": {
                                "type": "number"
                              },
                              "amount_tax": {
                                "type": "number"
                              },
                              "currency": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "solana_sol",
                                      "solana_usdc",
                                      "aed",
                                      "afn",
                                      "all",
                                      "amd",
                                      "ang",
                                      "aoa",
                                      "ars",
                                      "aud",
                                      "awg",
                                      "azn",
                                      "bam",
                                      "bbd",
                                      "bdt",
                                      "bgn",
                                      "bhd",
                                      "bif",
                                      "bmd",
                                      "bnd",
                                      "bob",
                                      "brl",
                                      "bsd",
                                      "bwp",
                                      "byn",
                                      "bzd",
                                      "cad",
                                      "cdf",
                                      "chf",
                                      "clp",
                                      "cny",
                                      "cop",
                                      "crc",
                                      "cve",
                                      "czk",
                                      "djf",
                                      "dkk",
                                      "dop",
                                      "dzd",
                                      "egp",
                                      "etb",
                                      "eur",
                                      "fjd",
                                      "fkp",
                                      "gbp",
                                      "gel",
                                      "ghs",
                                      "gip",
                                      "gmd",
                                      "gnf",
                                      "gtq",
                                      "gyd",
                                      "hkd",
                                      "hnl",
                                      "htg",
                                      "huf",
                                      "idr",
                                      "ils",
                                      "inr",
                                      "isk",
                                      "jmd",
                                      "jod",
                                      "jpy",
                                      "kes",
                                      "kgs",
                                      "khr",
                                      "kmf",
                                      "krw",
                                      "kwd",
                                      "kyd",
                                      "kzt",
                                      "lak",
                                      "lbp",
                                      "lkr",
                                      "lrd",
                                      "lsl",
                                      "mad",
                                      "mdl",
                                      "mga",
                                      "mkd",
                                      "mmk",
                                      "mnt",
                                      "mop",
                                      "mur",
                                      "mvr",
                                      "mwk",
                                      "mxn",
                                      "myr",
                                      "mzn",
                                      "nad",
                                      "ngn",
                                      "nio",
                                      "nok",
                                      "npr",
                                      "nzd",
                                      "omr",
                                      "pab",
                                      "pen",
                                      "pgk",
                                      "php",
                                      "pkr",
                                      "pln",
                                      "pyg",
                                      "qar",
                                      "ron",
                                      "rsd",
                                      "rub",
                                      "rwf",
                                      "sar",
                                      "sbd",
                                      "scr",
                                      "sek",
                                      "sgd",
                                      "shp",
                                      "sle",
                                      "sos",
                                      "srd",
                                      "std",
                                      "szl",
                                      "thb",
                                      "tjs",
                                      "tnd",
                                      "top",
                                      "try",
                                      "ttd",
                                      "twd",
                                      "tzs",
                                      "uah",
                                      "ugx",
                                      "usd",
                                      "uyu",
                                      "uzs",
                                      "vnd",
                                      "vuv",
                                      "wst",
                                      "xaf",
                                      "xcd",
                                      "xof",
                                      "xpf",
                                      "yer",
                                      "zar",
                                      "zmw"
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "checked_in_at": {
                                "anyOf": [
                                  {
                                    "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z",
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "event_ticket_type_id": {
                                "type": "string"
                              },
                              "is_captured": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              },
                              "api_id": {
                                "deprecated": true,
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "amount",
                              "amount_discount",
                              "amount_tax",
                              "currency",
                              "checked_in_at",
                              "event_ticket_type_id",
                              "is_captured",
                              "name",
                              "api_id"
                            ]
                          }
                        },
                        "api_id": {
                          "deprecated": true,
                          "type": "string"
                        },
                        "event_ticket": {
                          "deprecated": true,
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "amount": {
                                  "type": "number"
                                },
                                "amount_discount": {
                                  "type": "number"
                                },
                                "amount_tax": {
                                  "type": "number"
                                },
                                "currency": {
                                  "anyOf": [
                                    {
[...]
