---
export const prerender = false;
import Icon from '@components/Icon.astro';
---

<div id="footer-signup" class="footer-signup">
  <div class="footer-signup-container">
    <h4 class="datum-text-7xl mb-0">Sign up for updates</h4>

    <div class="footer-signup-success hidden items-center gap-3 self-end-safe text-nowrap">
      <Icon name="circle-check" size="xl" class="stroke-[1.25]" />
      <span class="datum-text-lg">You're on the list</span>
    </div>

    <div class="footer-signup-form-container">
      <form action="#" class="footer-signup-form relative" onsubmit="return false;">
        <input
          type="email"
          name="email"
          placeholder="Your email"
          class="footer-signup-input mb-0"
          autocomplete="email"
          required
        />
        <button class="footer-signup-button" name="signup-button" aria-label="Sign up button">
          <Icon name="circle-arrow-right" size="xl" class="stroke-[1.25]" />
        </button>

        <div
          class="footer-signup-message datum-text-sm text-canyon-clay---links absolute bottom-0 left-0 translate-y-8 text-nowrap"
        >
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector('.footer-signup-form') as HTMLFormElement;
  const signupMessage = document.querySelector('.footer-signup-message') as HTMLDivElement;
  const signupForm = document.querySelector('.footer-signup-form-container') as HTMLDivElement;
  const signupSuccess = document.querySelector('.footer-signup-success') as HTMLDivElement;

  form.addEventListener('submit', function (this: HTMLFormElement) {
    signupMessage.textContent = 'Please wait..';
    actions.signUp({ email: form.email.value }).then((result) => {
      if (!result.data || result.data != 200) {
        if (result.data == 422) {
          signupMessage.textContent = "Looks like you're already subscribed!";
        } else {
          signupMessage.textContent = 'Something went wrong. Please try again in a minute or two.';
        }
      } else {
        signupMessage.textContent = "You're on the list";
        signupForm.classList.add('hidden');
        signupSuccess.classList.remove('hidden');
        signupSuccess.classList.add('flex');
      }
    });
  });
</script>
